body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
    font-size: 14px;
    color: #999;
    line-height: 1.6;
}
h1 {
    font-size: 40px;
    color: #fff;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h2, h3 {
    color: #282828;
}
.container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.brand {
    font-size: 30px;
}
.menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.menu li {
    float: right;
    font-size: 16px;
    list-style: none;
    color: #000000;
}
.menu li a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* =============================HEADER============================= */
.menu{
    width: 20%;
    float: right;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: #000000;
}
.menu-type{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
header {
    background-color: #fff;
    padding-top: 30px;
}
header .brand {
    float: right;
    color: #000000;
    margin-bottom: 30px;
}
header .menu {
    float: right;
    margin-bottom: 30px;
}
header .menu li {
    padding-left: 20px;
}
header .menu li a {
    color: #000000;
}

/* =============================MAIN TOP============================= */

.mt{
    margin-top: 20%;
}
.main-content{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main-content-left{
    width: 700px;
    height: 400px;
}
.main-content-title{
    font-weight: 700;
    font-size: 30px;
}
.main-content-txt{
    font-weight: 400;
    font-size: 16px;
}
.main-content-avatar{
    width: 235px;
    height: 250px;
    border-radius: 500px;
}
.main-content-right{
    width: 300px;
    height: 400px;
}
.download-menu{
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.button{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

/* =============================BLUE BOX MENU============================= */

.blue-box-menu{
    height: 396px;
    background-color: #EDF7FA;
    padding-left: 300px;
    padding-right: 300px;
    box-sizing: border-box;
}
.blue-box-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blue-box-span{
    font-weight: 400;
    font-size: 30px;
    color: #21243D;
}
.blue-box-link{
    font-weight: 400;
    font-size: 20px;
    color: #00A8CC;
    text-decoration: none;
}
.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post{
    width: 418px;
    height: 295px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 30px;
    box-sizing: border-box;
}
.post-title{
    font-weight: 700;
    font-size: 17px;
    color: #21243D;
}
.post-date{
    font-weight: 500;
    font-size: 15px;
}
.post-txt{
    font-weight: 400;
    font-size: 15px;
}

/* =============================WORKS MENU============================= */

.mt{
    margin-top: 40px;
}
.works-menu{
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.work-portfolio{
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.portfolio-icon{
    width: 23%;
    height: 60%;
    border-radius: 6px;
}
.portfolio-span{
    margin-left: 30px;
    margin-bottom: 25px;
}
.work-title{
    font-weight: 700;
    font-size: 17px;
    color: #21243D;
}

/* =============================FOOTER============================= */

footer {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
footer .footer-nav li {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}
footer .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
footer .copyright {
    font-size: 20px;
    color: #21243D;
}

.b{
    border: 1px solid red;
}

@media (max-width: 575px) {

    .mt{
        margin-top: 30%;
    }

    .menu{
        width: 100%;
        float: none;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .main-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-content-left{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50%;
    }
    .main-content-right{
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
    }
    .download-menu{
        position: relative;
        left: 21%;
    }
    .blue-box-menu{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: initial;
        justify-content: center;
        box-sizing: border-box;
    }
    .blue-box-header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        float: none;
    }
    .container{
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .post{
        width: 90%;
        font-size: 8px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: auto;
        margin: 0;
    }
    .post-title{
        font-size: 14px;
    }
    .post-date{
        font-size: 12px;
    }
    .post-txt{
        font-size: 12px;
    }
    .works-menu{
        margin-top: 60px;
        width: 90%;
    }
    .blue-box-span{
        text-align: center;
        width: 100%;
    }
}